/*index start*/

@media (max-width: 1280px)/*Nest Hub Max*/{
    
    label{
        left: 3%;
    }
    
    .burger-block{
        padding-left: 33px;
    }
    
    .title{
        margin-bottom: 40px;
    }
    
    .blocks__content{
        width: 300px;
    }
    
    .blockscontainer{
        padding: 55px 60px 0 60px;
    }
    
    .footer__wrapper{
        width: 90%;
        margin: 0 auto;
    }
    
    .copyright{
        font-size: 20px;
    }
    
    /*contacts start*/
    
    .contacts_text{
        font-size: 27px;
        margin-bottom: 40px;
    }
    
    .contacts_text:last-child{
        margin-bottom: 0;
    }  
    
    .letters__block{
        width: 430px;
        display: grid;
        grid-gap: 20px;/*расстояние между элементами в блоке 20 пикселей*/
        justify-content: space-between;
    }
    
    .container{
        max-width: 1180px;
    }
    
    .hif-container{
        max-width: 1180px;
    }
    
    /*contacts end*/
    
    .linktext{
        font-size: 20px;
    }
    
    /*booksmenu start*/
    
    .booksmenu_text{
        font-size: 28px;
        padding: 6% 10% 0 10%;
    }
    
    .booksmenu_links{
        text-decoration: none;
        font-size: 20px;
        color: green;
    }
    
    .bookstitle{
        font-size: 24px;
        padding: 30px 0 30px 0;
    }

    .bookstext{
        font-size: 24px;
        padding: 0 2% 0 2%;
    }
    
    /*booksmenu start*/
}

@media (max-width: 1024px)/*Nest Hub*/{
    
    .logo{
        margin-bottom: 10px;
    }
     
    .booksmenu_elements{
        padding-bottom: 20px;
    }
    
    .bookstext{
        font-size: 30px;
    }
    
    .menulink{
        font-size: 30px;
    }
    
    .navtext{
        font-size: 20px;
    }
    
    .burger-block{
        padding-left: 20px;
    }
    
    .title{
        padding-bottom: 40px;
    }
    
    .titletext{
        font-size: 28px;
        font-weight: 900;
        padding: 2% 2% 0 2%;
        text-align: center;
    }
    
    .blocks__content{
        height: 350px;
        width: 250px;
    }
    
    .info__text{
        font-size: 20px;
    }
    
    .info__block{
        margin-bottom: 40px;
    }
    
    .wrapper{
        flex-direction: column;
    }
    
    .blocks__subtitle{
        margin-bottom: 20px;
    }
    
    .letters__title{
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .letters_img{
        width: 80%;
        height: 80%;
    }
    
    .bookstitle{
        font-size: 36px;
        text-align: center;
    }
    
    .copyright{
        font-size: 15px;
    }
    
    .letters__block{
        width: 450px;
    }
    
    .blocks__letters__content{/*для блока со статьями (1й слева на главном меню)*/
        height: 250px;
        width: 400px;
        margin-bottom: 20px;
    }
    
    .container{
        max-width: 900px;
    }
    
    .hif-container{
        max-width: 900px;
    }
   
    .bookimgsubtitle{
        font-size: 15px;
    }
}

@media (max-width: 912px) /*Surface Pro 7*/{
    
    /*blocks-wrapper и info-wrapper - универсальные свойства для вертикальных экранов, располагаем элементы в колонки*/
    
    .hif-container{/*у хэдера и футера убираем верхние отступы padding-top*/
        max-width: 820px;
        margin: 0 auto;
    }
    
    .container{/*у хэдера и футера убираем верхние отступы padding-top*/
        margin-top: 80px;
    }
    
    .info-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .blockswrapper{
        flex-direction: column;
    }
    
    /*остальные свойства элементов секций*/
    
    .blocks__item{
        margin-bottom: 60px;
    }
    
    .header{
        height: 200px;
    }
    
    .footer__wrapper{
        height: 30vh;
    }
    
    .logo{
       width: 150%;
       height: 150%;
    }
    
    .navtext{
        font-size: 30px;
        padding-top: 25px;
    }
    
    .linktext{
        font-size: 30px;
    }
    
    .sliderpunkt{
        font-size: 30px;
    }
    
    #checkmenu:checked ~ .main-menu{/*открываем меню при нажатии курсором на полоски*/
        max-height: 400px;/*увеличиваем максимальную высоту выпадающего меню*/
    }
    
    label{
        left: 3%;
        width: 9%;
    }
    
    .burger-line{
        width: 100px;
        height: 4px;
        background-color: white;
        margin-bottom: 20px;
    }
    
    .burger-block{
        padding-left: 25px;
    }

    .title{
        margin-bottom: 40px;
    }
    
    .blocks__content{
        height: 800px;
        width: 600px;
        margin-bottom: 20px;
        pointer-events: none;
    }
    
    .letters__block{
        width: 650px;
        height: 700px;
    }
    
    .blocks__letters__content{/*для блока со статьями (1й слева на главном меню)*/
        height: 400px;
        width: 550px;
        margin-bottom: 20px;
    }
    
    .blocks__subtitle{
        font-size: 40px;
    }
    
    .letters__title{
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .bookimgsubtitle{
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .bookstext{
        font-size: 28px;
        padding: 0 2% 0 2%;
    }
    
    .letters_img{
        width: 80%;
        height: 80%;
    }
    
    .sertificats{
        width: 500px;
        height: 750px;
    }

    .info{
        padding: 6%;
        display: flex;
        flex-direction: column;
    }
    
    .info__title{
        font-size: 34px;
    }
    
    .info__text{
        font-size: 34px;
        max-width: 800px;
        font-weight: 700;
        padding-top: 20px;
    }
    
    .info__block{
        margin-bottom: 30px;
    }
    
    .info__img{
        height: 600px;
        width: 450px;
    }
    
    .footer__wrapper{
        width: 80%;
        margin: 0 auto;
    }
    
    .copyright{
        font-size: 20px;
    }
    
    .title{
        margin-top: 10%;
    }
    
    .titletext{
        font-size: 38px;
        padding: 5% 10% 0 10%;
    }
    
    .copyright{
        font-size: 25px;
    }
    
    
.booksmenulink{/*кнопки Назад, Вперед, Оглавление*/
    font-size: 34px;
}
    
.bookstitle{
    font-size: 38px;
    padding: 30px 0 50px 0;
}

.bookssubtitle{
    font-size: 34px;
    text-align: center;
}
    
.accordeon_line{
    width: 600px;
    border: 1px solid grey;
}
    
}

@media (max-width: 853px) /*Surface Pro 7*/{
    
    .hif-container{
        max-width: 770px;
    }
    
    .navtext{
        font-size: 25px;
    }
    
    .container{
        max-width: 800px;
    }
    
    .linktext{
        font-size: 22px;
    }
    
    .bookstext{
        font-size: 24px;
    }
    
    .letters__block{
        height: 680px;
    }
    
    .bookimgsubtitle{
        font-size: 18px;
    }
    
    .letters_img{
        width: 100%;
        height: 100%;
    }
    
    .copyright{
        font-size: 20px;
    }
    
    .blocks__content{
        height: 700px;
        width: 500px;
    }
}

@media (max-width: 820px) /*iPad Air*/{
    
    .header{
        height: 200px;
    }
    
    .blocks__content{
        height: 700px;
        width: 500px;
        margin-bottom: 20px;
        pointer-events: none;
    }
    
    .logo{
        margin-bottom: 23px;
    }
    
    .titletext{
        font-size: 36px;
        font-weight: 900;
        padding: 2% 2% 0 2%;
        text-align: center;
    }
    
    .navtext{
        font-size: 25px;
    }
    
    .navlinks{
        display: block;
        width: 100%;
        border-top: 1px solid grey;
        background-color: black;
        height: 100px;
    }
    
    #checkmenu:checked ~ .main-menu{/*открываем меню при нажатии курсором на полоски*/
        max-height: 400px;/*увеличиваем максимальную высоту выпадающего меню*/
    }
    
    label{
        left: 3%;
        width: 9%;
    }
    
    .burger-block{
        padding-left: 25px;
    }
    
    .footer__wrapper{
        height: 24vh;
    }
    
    .copyright{
        font-size: 20px;
        max-width: 500px;
    }
    
    .info__text{
        font-size: 30px;
        font-weight: 500;
    }
    
    .menulink{
        font-size: 26px;
    }
    
    .hif-container{
        max-width: 700px;
    }

    .container{
        max-width: 700px;
    }

}

@media (max-width: 768px) /*iPad Mini*/{
    
    .footer__wrapper{
        height: 200px;
    }
    
    label{
        left: 5%;
    }
    
    .logo{
        margin-bottom: 30px;
    }
    
    .info__text{
        font-size: 30px;
    }
    
    .info__img{
        height: 600px;
        width: 530px;
    }
    
    .copyright{
        font-size: 20px;
    }
    
    .bookstitle{
        font-size: 34px;
        padding: 30px 0 30px 0;
        text-align: center;
    }
    
    .bookssubtitle{
        font-size: 34px;
    }
    
    .bookstext{
        font-size: 30px;
        padding: 0 3% 0 3%;
    }
    
}

@media (max-width: 720px) /*Huawei мой телефон*/{
    
    .hif-container{
        max-width: 650px;
    }
    
    .container{
        max-width: 650px;
    }
    
    .title{
        margin-top: 150px;
    }
    
    .titletext{
        font-size: 32px;
    }
    
    .footer__wrapper{
        height: 30vh;
    }
    
    .bookimgsubtitle{
        font-size: 20px;
    }
    
}

@media (max-width: 540px) /*Surface Duo*/{
    
    .header{
        background: black;
        height: 150px;
        padding: 10%;
    }
    
    .navtext{
        font-size: 17px;
    }
    
    .burger-block{
        margin-bottom: 40px;
        padding-left: 0;
    }
    
    .lettersblock{
        padding-left: 17%;
    }
    
    .logo{
        width: 90%;
        height: 90%;
    }
    
    .title{
        margin-top: 200px;
    }
    
    .titletext{
        font-size: 25px;
        padding: 1% 6% 0 6%;
    }
     
    .blocks__letters__content{/*для блока со статьями (1й слева на главном меню)*/
        height: 200px;
        width: 300px;
    }
    
    .letters__title{
        font-size: 30px;
        margin-bottom: 0;
    }
    
    .letters__block{
        width: 300px;
        height: 550px;
        display: grid;
        grid-gap: 20px;/*расстояние между элементами в блоке 20 пикселей*/
        justify-content: space-between;
    }
    
    .sertificats{
        width: 300px;
        height: 470px;
        padding: 10px 0 0 0;
    }
    
    .info__title{
        font-size: 22px;
    }

    .info__text{
        font-size: 20px;
    }
    
    .blocks__subtitle{
        font-size: 30px;
        margin-bottom: 0;
    }

    .info__img{
        height: 420px;
        width: 390px;
    }
    
    .copyright{
        font-size: 15px;
    }
    
    .linktext{
        font-size: 15px;
    }
    
    .bookstext{
        font-size: 15px;
    }
    
    .sliderpunkt{
        font-size: 18px;
        max-width: 450px;
    }
    
    .slidertitle{
        font-size: 22px;
    }
    
    .bookstitle{
        font-size: 25px;
        padding: 30px 0 60px 0;
        text-align: center;
    }
    
    .bookssubtitle{
        font-size: 20px;
    }
    
    .booksmenuwrapper{
        margin-top: 25px;
    }
    
    .bookimgsubtitle{
        font-size: 15px;
    }
    
    .video{
        height: 200px;
        width: 350px;
    }
    
    .accordeon_line{
        width: 500px;
        border: 1px solid grey;
        margin-top: 10px;
    }
    
    .booksmenu_buttons{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    .booksmenu_btnselements{
        margin-right: 0;
        padding-bottom: 20px;
    }
    
    .booksmenu_btnselements:last-child{
        padding-bottom: 0;
    }
    
    .container{
        max-width: 450px;
    }
    
    .menulink{
        font-size: 20px;
    }
    
    .letters__block{
        width: 300px;
        display: grid;
        grid-gap: 20px;/*расстояние между элементами в блоке 20 пикселей*/
        justify-content: space-between;
    }
    
    .letters_img{
        width: 100%;
        height: 100%;
    }
    
    .blocks__content{
        height: 400px;
        width: 280px;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 414px) /*Samsung Galaxy (414px) & iPhone XR (412px)*/{
    
    .container{
        max-width: 380px;
    }
    
    .burger-line{
        width: 55px;
    }
    
    .lettersblock{
        padding-left: 10%;
    }
    
    .footer__wrapper{
        height: 32vh;
    }
    
    .navtext{
        font-size: 20px;
        padding-top: 0;
    }
    
    .navlinks{
        display: block;
        width: 100%;
        border-top: 1px solid grey;
        background-color: black;
        height: 40px;
    }
    
    #checkmenu:checked ~ .main-menu{/*открываем меню при нажатии курсором на полоски*/
        max-height: 200px;/*увеличиваем максимальную высоту выпадающего меню*/
    }
    
    .titletext{
        font-size: 24px;
        padding: 2% 10% 0 10%;
    }
    
    .blocks__content{
        height: 400px;
        width: 280px;
        margin-bottom: 20px;
    }
    
    .info__title{
        font-size: 18px;
    }
    
    .info__text{
        font-size: 18px;
    }
    
    .info__img{
         height: 370px;
         width: 80%;
    }

    .copyright{
        font-size: 13px;
        max-width: 330px;
    }
    
    .blocks__subtitle{
        font-size: 26px;
    }
    
    .bookstitle{
        font-size: 24px;
    }
    
    .bookssubtitle{
        font-size: 22px;
    }
    
    .bookstext{
        font-size: 17px;
    }
    
    .letters__title{
        font-size: 18px;
    }
    
    .letters__block{
        height: 400px;
    }
    
    .booksmenulink{/*кнопки Назад, Вперед, Оглавление*/
        font-size: 30px;
    }
    
    .booksmenu_marker_none{
        padding: 0 6% 0 6%;
    }
    
    .booksmenu_btnselements{
        margin-right: 0;
        padding-bottom: 15px;
    }
    
    .booksmenu_btnselements:last-child{
        padding-bottom: 0;
    }
    
    .accordeon_line{
        width: 95%;
        border: 1px solid grey;
    }
    
    .lettersli_text{
        padding-left: 8%;
    }

}

@media (max-width: 393px) /*Pixel 5*/{
        
    .booksmenu_buttons{
        padding-top: 30px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    .booksmenu_btnselements{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .booksmenu_btnselements:last-child{
        margin-bottom: 0;
    }
    
    .booksmenulink{/*кнопки Назад, Вперед, Оглавление*/
        font-size: 30px;
    }
    
    .booksmenu_marker_none{
        padding: 0 6% 0 6%;
    }
    
    .letterssubtitle{
        font-size: 25px;
        padding: 2% 0 2% 0;
    }
    
}

@media (max-width: 390px) /*iPhone 12 Pro*/{
    
    .info__block{
        font-size: 22px;
        padding-left: 20px;
    }
    
    .navtext{
        font-size: 15px;
        padding-top: 0;
    }
    
    .container{
        max-width: 350px;
    }
    
    .logo{
        width: 80%;
        height: 80%;
    }
    
    .bookimgsubtitle{
        font-size: 12px;
    }
    
    .sertificats{
        width: 250px;
        height: 360px;
        margin-top: 40px;
    }
   
    .booksmenu_buttons{
        padding-top: 30px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    .booksmenu_btnselements{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .booksmenu_btnselements:last-child{
        margin-bottom: 0;
    }
    
    .booksmenulink{/*кнопки Назад, Вперед, Оглавление*/
        font-size: 30px;
    }
    
    .booksmenu_marker_none{
        padding: 0 6% 0 6%;
    }
    
    .letters__block{
        height: 370px;
    }
    
}

@media (max-width: 375px) /*iPhone SE*/{
    
    .navtext{
        font-size: 15px;
    }
    
    .title{
        margin-top: 80px;
    }
    
    .titletext{
        font-size: 20px;
        padding: 1% 10% 0 10%;
    }
   
    .container{
        max-width: 320px;
    }
    
    .blocks__item{
        margin-bottom: 20px;
    }
    
    .booksmenu_buttons{
        padding-top: 30px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    .booksmenu_btnselements{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .booksmenu_btnselements:last-child{
        margin-bottom: 0;
    }
    
    .booksmenulink{/*кнопки Назад, Вперед, Оглавление*/
        font-size: 30px;
    }
    
    .booksmenu_marker_none{
        padding: 0 6% 0 6%;
    }
    
    .sertificats{
        margin-top: 20px;
    }
}

@media (max-width: 360px) /*Samsung Galaxy S8*/{
    
    .container{
        max-width: 300px;
    }
    
    .blocks__content{
        width: 250px;
        height: 360px;
    }
    
    .lettersblock{
        padding-left: 7%;
    }
    
    .blocks__subtitle{
        font-size: 22px;
    }
    
    .burger-line{
        width: 50px;
    }
    
    .info__text{
        font-size: 20px;
    }
    
    .copyright{
        font-size: 12px;
    }
    
    .video{
        height: 180px;
        width: 300px;
    }
    
    .booksmenutitle{
        font-size: 30px;
    }
}