*,*:before,*:after{
    box-sizing: border-box;/*фиксация размеров блоков*/
}

*{
    margin: 0; 
    padding: 0;
    font-family: 'Arial';
}

body{
    background: linear-gradient(180deg, black 220px, gold 500px);
    background-size: cover;
}

.container{
    max-width: 1280px;
    width: 100%;/*все элементы блока не превышают по ширине максимальную ширину контейнера. Фото и горизонтальные блоки имеют ширину в 100% от ширины контейнера.*/
    padding-top: 60px;
    margin: 0 auto;
    height: 100%;
}

.hif-container{/*у хэдера и футера убираем верхние отступы padding-top*/
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.blockswrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

/*index start*/

/*header start*/

.header{
    height: 170px;
    padding: 20px;
}

.navtext{/*раздел меню*/
    color: white;
    font-family: 'Arial';
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;
    transition: color .2s ease;
}

.navtext:hover{/*при наведении курсора на меню цвет красный вместо белого*/
    color: red;
}

#checkmenu{/*убираем кнопку с галочкой - проверка меню*/
    display: none;
}

label{/*расположение элементов в шапке сайта*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.burger-block{
    flex-direction: column;
}

/*header end*/

/*title start*/

.title{
    pointer-events: none;/*секция заголовка не перекрывает отображение кнопок при наведении на них курсора*/
    margin-top: 80px;
}

.titletext{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 0 20% 0 20%;
    margin-bottom: 40px;
    text-align: center;
}

/*title end*/

/*blocks start*/

.blocks__content{
    height: 400px;
    width: 250px;
    margin-bottom: 20px;
}

.blocks__letters__content{/*для блока со статьями (1й слева на главном меню)*/
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
}

.letters__block{
    width: 350px;
    display: grid;
    grid-gap: 20px;/*расстояние между элементами в блоке 20 пикселей*/
    justify-content: space-between;
}

.blockscontainer{
    padding: 155px 60px 0 60px;
}

.blocks__item{
    text-decoration: none;/*убираем подчеркивания во всем блоке*/
}

.blocks__subtitle{
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: color 0.2s ease;
}

.blocks__subtitle:hover{
    color: red;
}

/*blocks end*/

/*info start*/

.info{
    padding: 4%;/*центрируем контент внутри прямоугольника*/
    margin-top: 60px;
}

.info__block{
    display: flex;
    flex-direction: column;
}

.info__title{
    color: #000;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
    padding-left: 10px;
}

.info__text{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 10px;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    max-width: 700px;
}

.info__text__link{
    text-decoration: none;
    color: white;
    transition: color .2s ease;
}

.info__text__link:hover{/*при наведении курсора на меню цвет красный вместо белого*/
    color: red;
}

.info__img{
    height: 450px;
    width: 400px;
}

/*info end*/

/*Footer start*/

.footer__wrapper{
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.copyright{
    color: black;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
}

/*Footer end*/

/*index end*/

/*aboutauthors start*/

.aboutauthortext{
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
}

.aboutauthortext_points{
    padding: 30px 0 0 30px;
}

/*aboutauthors end*/

/*letters start*/

.lettersblock{
    padding-top: 25px;
}

.letters__title{
    height: 20px;
    margin-bottom: 20px;
}

/*letters end*/

/*contacts start*/

.contacts_wrapper{
    flex-direction: column;
    display: flex;
    padding-left: 30px;
}

.contacts_text{
    font-size: 28px;
    margin-bottom: 20px;
}

.links{
    color: blue;
    text-decoration: none;
}

/*contacts end*/

/*booksmenu start*/

.booksmenuwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.bookimgsubtitle{
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.menulink{/*кнопки Назад, Вперед, Оглавление*/
    font-size: 26px;
    color: black;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: color .2s ease;
}

.menulink:hover{
    color: red;
}

.booksmenutitle{
    font-size: 40px;
    padding: 30px 0 30px 0;
}

.booksmenu_text{
    font-size: 28px;
    padding-top: 6%;
}

.booksmenu_marker_none{
    margin-top: 20px;
    list-style: none;
}

.booksmenu_links{
    text-decoration: none;
    font-size: 24px;
    color: green;
}

.menu_elements{
    margin-bottom: 20px;
}

.bookstitle{
    font-size: 28px;
    padding: 30px 0 30px 0;
}

.bookssubtitle{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.booksmenu_buttons{
    padding: 70px 0 20px 0;
}

.bookstext{
    font-size: 26px;
    padding: 0 1% 0 1%;
}

.booksmenu_btnselements{
    margin-right: 30px;
}

.booksmenu_btnselements:last-child{
    margin-right: 0;
}

/*раздел для аккордеона с подзаголовками глав*/
.list-content{/*лист с контентом*/
    padding: 20px 0 40px 0;
}

.hidden{/*контент по умолчанию скрыт*/
    display: none;
}

.accordeonpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.accordeonpart:last-child{
    margin-bottom: 0;
}

.accordeon_line{
    width: 770px;
    border: 1px solid grey;
}

.cursive{/*настройка курсива для цитат*/
    font-style: italic;
}
/*booksmenu end*/

/*publication_menu start*/

.mainwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderpunkt{/*ссылки в списке с публикациями и названиями конференций*/
    text-align: center;
    margin-bottom: 30px;
}

.sliderpunkt:last-child{
    margin-bottom: 0;
}

.sliderslink{
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}

.linktext{
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    transition: color .2s ease;
}

.linktext:hover{
    color: red;
}

.slidertitle{
    font-size: 28px;
    padding: 30px 0 30px 0;
    text-align: center;
}

/*publication_menu end*/

/*photo_conferences start*/

.conf_img{
    padding: 30px 0 30px 0;
    width: 540px;
    height: 360px;
}

.audio{
    margin-top: 20px;
}

/*photo_conferences end*/

/*letters start*/

.lettersli_text{
    padding-left: 4%;
}

.letters_img{
    padding: 20px 0 20px 0;
}

.sertificats{
    width: 350px;
    height: 500px;
    padding: 40px 0 0 0;
}

/*letters end*/

/*lettersmenu start*/

.margintop{
    margin-top: 50px;
}

.backbtn{
    text-align: center;
    margin-bottom: 20px;
}

.letters_list{
    text-align: center;
}

.letters_punkts{
    list-style: none;
}

.letpunkts_text{
    text-decoration: none;
    color: blue;
    font-size: 34px;
}

/*lettersmenu end*/

/*video start*/

.video{
    margin-top: 20px;
    width: 540px;
    height: 360px;
}

.vertical_video{
    width: 260px;
    height: 500px;
}

.video:last-child{
    margin-bottom: 0;
}

/*video end*/
