*,*:before,*:after{
    box-sizing: border-box;/*фиксация размеров блоков*/
}

*{
    margin: 0; 
    padding: 0;
    font-family: 'Arial';
}

.body{
    background: #fff;
    background-size: cover;
    height: 100vh;
}

.container{
    max-width: 1280px;
    width: 100%;/*все элементы блока не превышают по ширине максимальную ширину контейнера. Фото и горизонтальные блоки имеют ширину в 100% от ширины контейнера.*/
    padding-top: 60px;
    margin: 0 auto;
}

.header-container{/*у хэдера и футера убираем верхние отступы padding-top*/
    max-width: 1280px;
    margin: 0 auto;
}

.info-container{/*у хэдера и футера убираем верхние отступы padding-top*/
    max-width: 1280px;
    margin: 0 auto;
}

.footer-container{
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*index start*/

/*header start*/

.header{
    background: black;
    height: 200px;
    padding: 20px;
}

.langmenu{
    padding-left: 10%;
}

.langmenu li{
    float: left;/*выстраиваем по горизонтали ссылки меню*/
    list-style: none;
    padding-right: 20px;
}

.langmenu li:last-child{
    padding-right: 0;
}

.langmenutext{
    color: white;
    font-family: 'Arial';
    font-size: 23px;
    font-weight: 900;
    text-decoration: none;
    transition: color .2s ease;
} 

.navtext{
    color: white;
    font-family: 'Arial';
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;
    transition: color .2s ease;
}

.langmenutext:hover{
    color: red;
}

.navtext:hover{
    color: red;
}


#checkmenu{/*убираем кнопку с галочкой - проверка меню*/
    display: none;
}

label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.burger-block{
    flex-direction: column;
}

.burger-line{
    width: 65px;
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
}

.burger-line:last-child{
    margin-bottom: 0;
}

.main-menu{
    padding-top: 20px;
    list-style: none;
    display: block;
    position: absolute;
    width: 100%;/*ширина выпадающего меню - 100% от ширины враппера*/
    bottom: 0;/*верхние границы меню ставим ниже бургера с меню*/
    left: 0;
    transform: translateY(100%);/*ставим раскрытие меню ниже бургера и хэдера*/
    max-height: 0;/*изначально, когда сайт открывается, скрываем элементы главного меню*/
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.navlinks{
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid grey;
    background-color: black;
}

#checkmenu:checked ~ .main-menu{/*открываем меню при нажатии курсором на полоски*/
    max-height: 160px;
    font-size: 17px;
}

/*header end*/

/*title start*/

.title{
    pointer-events: none;/*секция заголовка не перекрывает отображение кнопок при наведении на них курсора*/
}

.titletext{
    font-size: 30px;
    font-weight: 900;
    padding: 4% 20% 0 20%;
    text-align: center;
}

/*title end*/

/*blocks start*/

.blocks__content{
    height: 600px;
    width: 400px;
    margin-bottom: 20px;
}

.blocks1container{
    padding: 100px 0 0 0;
}

.blocks__item{
    text-decoration: none;/*убираем подчеркивания во всем блоке*/
}

.blocks__subtitle{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: color 0.2s ease;
}

.blocks__subtitle:hover{
    color: red;
}

/*blocks end*/

/*info start*/

.info{
    padding: 4%;/*центрируем контент внутри прямоугольника*/
    background-color: black;
    margin-top: 60px;
}

.info__block{
    display: flex;
    flex-direction: column;
}

.info__title{
    color: white;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
}

.info__text{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 10px 0 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    max-width: 700px;
}

.info__text__link{
    text-decoration: none;
    color: skyblue;
}

.info__img{
    height: 450px;
    width: 400px;
}

/*info end*/

/*Footer start*/

.footer__wrapper{
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.copyright{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
}

.footer__soc-link{
    text-decoration: none;
    margin-right: 20px;/*отступ справа между значками 20 пикселей*/
}

.footer__soc-link:last-child{
    margin-right: 0;/*убираем отступ справа у последнего значка*/
}

.footer__soc{
    display: flex;
}

.footer__soc-link img{
    height: 35px;/*высота значков*/
}
/*Footer end*/

/*index end*/

/*aboutauthors start*/

.aboutauthortext{
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
}

.aboutauthortext_points{
    padding: 30px 0 0 30px;
}

/*aboutauthors end*/

/*letterswrapper start*/

.letterswrapper{
    padding: 5% 40% 0 40%;
}

.lettersblock{
    padding-top: 25px;
}

/*letterswrapper end*/

/*contacts start*/

.contacts_wrapper{
    flex-direction: column;
    display: flex;
    padding-left: 30px;
}

.contacts_text{
    font-size: 28px;
    margin-bottom: 20px;
}

.links{
    color: blue;
    text-decoration: none;
}

/*contacts end*/

/*supportus start*/

.supportus_text{
    font-size: 28px;
    margin-bottom: 30px;
}

.supportus_links{
    color: blue;
    text-decoration: none;
}

/*supportus end*/

/*booksmenu start*/

.booksmenuwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookimg{
    width: 200px;
    height: 300px;
}

.bookimg_horisontal{
    width: 230px;
    height: 170px;
}

.bookimgsubtitle{
    font-size: 14px;
}

.booksmenulink{/*кнопки Назад, Вперед, Оглавление*/
    font-size: 26px;
    color: blue;
    text-decoration: none;
    padding-top: 4%;
}

.booksmenutitle{
    font-size: 40px;
    padding: 30px 0 30px 0;
}

.booksmenu_text{
    font-size: 28px;
    padding-top: 6%;
}

.booksmenu_marker_none{
    margin-top: 20px;
    list-style: none;
}

.booksmenu_links{
    text-decoration: none;
    font-size: 24px;
    color: green;
}

.booksmenu_elements{
    margin-bottom: 20px;
}

.bookstitle{
    font-size: 28px;
    padding: 30px 0 30px 0;
}

.bookssubtitle{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.booksmenu_buttons{
    padding: 70px 0 20px 0;
}

.bookstext{
    font-size: 26px;
    padding: 0 1% 0 1%;
}

.booksmenu_btnselements{
    margin-right: 30px;
}

.booksmenu_btnselements:last-child{
    margin-right: 0;
}

/*раздел для аккордеона с подзаголовками глав*/
.list-content{/*лист с контентом*/
    padding: 20px 0 40px 0;
}

.hidden{/*контент по умолчанию скрыт*/
    display: none;
}

.accordeonpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.accordeonpart:last-child{
    margin-bottom: 0;
}

.accordeon_line{
    width: 770px;
    border: 1px solid grey;
}

.cursive{/*настройка курсива для цитат*/
    font-style: italic;
}
/*booksmenu end*/

/*slider start*/
.sliderswrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sliderstitle{
    text-align: center;
    padding: 3% 0 3% 0;
    font-size: 30px;
}

.slider{
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 380px;
}

.slider_line{
    transition: all 1s;
    display: flex;
    align-items: center;
}

.slider_img{
    width: 100%;
    height: 100%;
}

.button{
    cursor: pointer;
}

.btn-img{
    width: 35px;
    height: 35px;
}

.slider_btn-prev{
    position: absolute;
    top: 50%;
    left: 2%;
}

.slider_btn-next{
    position: absolute;
    top: 50%;
    right: 2%;
}

.slider_wrapper{
    position: absolute;
    column-gap: 10px;
    top: 90%;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.slider_dot{
    width: 15px;
    height: 15px;
    border: 2px solid orange;
    border-radius: 20px;
}

.slider_dot:hover{
    background-color: orange;
    cursor: pointer;
    transition: all .2s ease;
}

.active_dot{
    background-color: orange;
}
/*slider end*/

/*photo-conferences start*/

.mainwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderpunkt{/*ссылки в списке с названиями конференций*/
    text-align: center;
    margin-bottom: 30px;
}

.sliderpunkt:last-child{
    margin-bottom: 0;
}

.sliderslink{
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}

.sliderslinktext{
    color: blue;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

/*photo-conferences end*/

/*letters start*/

.lettersaccordeonpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.letters_img{
    width: 100%;
    height: 100%;
    padding: 2% 3% 4% 3%;
}

.letters_textcenter{
    text-align: center;
}

.letters_imgtext{
    margin-bottom: 10px;
    padding: 2% 2% 2% 2%;
}

.lettersimg_license{
    font-size: 25px;
}

.imglicense_link{
    text-decoration: none;
}

.letterssubtitle{
    font-size: 30px;
    padding: 2% 0 2% 0;
}

.lettersli_text{
    padding-left: 4%;
}

/*letters end*/

/*go-top start*/

.go-top {
  position: fixed; /* фиксированное позиционирование */
  left: 20px; /* отступ слева 20px */
  top: 90%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
  cursor: pointer; /* при наведении меняем курсор */
  color: rgba(0, 51, 153, 0.5);
  border: 1px solid rgba(0, 51, 153, 0.5);
  background-color: rgba(0, 51, 153, 0.1);
  padding: 15px 10px;
  font-size: 20px;/*размер стрелки*/
  display: none;
}

/* меняем прозрачность при наведении мышкой */
.go-top:hover {
  color: rgba(0, 51, 153, 0.8);
  border: 1px solid rgba(0, 51, 153, 0.8);
  background-color: rgba(0, 51, 153, 0.15);
}

/* модификатор для отображения кнопки */
.go-top--show {
   display: block;
}

/*go-top end*/

/*lettersmenu start*/

.margintop{
    margin-top: 50px;
}

.backbtn{
    text-align: center;
    margin-bottom: 20px;
}

.letters_list{
    text-align: center;
}

.letters_punkts{
    list-style: none;
}

.letpunkts_text{
    text-decoration: none;
    color: blue;
    font-size: 34px;
}

/*lettersmenu end*/

/*video start*/

.video{
    width: 280px;
    height: 215px;
    margin-bottom: 20px;
}

.video:last-child{
    margin-bottom: 0;
}

/*video end*/